<div class="fibonacci-wrapper">
  <div class="inner-wrapper">
    <app-panel>
      <div class="content">
        <p class="title">
          Fibonacci calculation. Please see the developer console to also view the outcome printed to the console.
        </p>
        <div class="fibonacci">
          <ng-container *ngIf="(stream.loading$ | async) else loaded">
            <p>Please wait...</p>
          </ng-container>
          <ng-template #loaded>
            <div class="calculation">
              <label>Fibonacci Number:</label>
              <input
                type="number"
                max="10"
                placeholder="Please enter a number"
                [(ngModel)]="numberToCalculate">
              <button
                type="submit"
                (click)="reCalculate()">
                Calculate
              </button>
            </div>
            <div class="calculation">
              <label>Outcome:</label>
              <p>{{stream.fibonacciNumber$ | async}}</p>
            </div>
            <div class="calculation">
              <label>Array:</label>
              <p>[&nbsp;</p>
              <ng-container *ngFor="let num of (stream.calculationArray$ | async)">
                <p>{{num}}&nbsp;</p>
              </ng-container>
              <p>]&nbsp;</p>
            </div>
          </ng-template>
        </div>
      </div>
    </app-panel>
  </div>
</div>
