<div class="fizzbuzz-wrapper">
  <div class="inner-wrapper">

    <app-panel>
      <div class="content">
        <p class="title">
          Fizzbuzz calculation. Please see the developer console to also view the outcome printed to the console.
        </p>
        <div class="fizzbuzz">
          <ng-container *ngIf="(stream.loading$ | async) else loaded">
            <p>Please wait...</p>
          </ng-container>
          <ng-template #loaded>
            <div *ngFor="let outcome of (stream.fizzBuzzArray$ | async)">
              <p>{{outcome}} &nbsp; &nbsp;</p>
            </div>
          </ng-template>
        </div>
        <button (click)="runFizzbuzz()">Run Again</button>
      </div>
    </app-panel>
  </div>
</div>
